
@using NblClassLibrary.BLL
@using NblClassLibrary.Models
@model IEnumerable<NblClassLibrary.Models.Order>

@{
    ViewBag.Title = "Sales Report";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var user = (User)Session["User"];
    EmployeeManager anEmployee = new EmployeeManager();
    var branchId = Convert.ToInt32(Session["BranchId"]);
    var emp = anEmployee.GetEmployeeById(user.EmployeeId);
    BranchManager aBranch = new BranchManager();
    var branch = aBranch.GetBranchById(branchId);
    var companyId = Convert.ToInt32(Session["CompanyId"]);
    CompanyManager aCompany = new CompanyManager();
    var company = aCompany.GetCompanyById(companyId);
}
<section class="content">
    <div class="row">

        @using (Html.BeginForm("Reoprt", "SuperReport",FormMethod.Post, new { target = "_blank" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                  <label for="ObjectName" class="control-label col-md-2">Object Name</label>
                    <div class="col-md-10">
                        <input id="ObjectName" name="ObjectName" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <div class="row">
                            <div class="col-md-6">
                                
                                <input type="submit" value="Show Report" class="btn btn-primary" />
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>




                    </div>
                </div>
            </div>
          
        }
        
    </div>

</section>
