
@model IEnumerable<NblClassLibrary.Models.Division>
@{
    ViewBag.Title = "Division List";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";

}

<section class="content">
    <h3 class="text-center text-green headingStyle">Division List</h3>

    <table id="table_division_list" class="display table-bordered" style="border:1px solid black">

        <thead>
            <tr>
                <th width="15%">Division Name</th>
                <th>Regions</th>
                <th>Teritory</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <h4 style="font-weight:bolder">@item.DivisionName</h4>

                    </td>
                    <td>
                        <ol type="1">
                            @foreach (var r in item.Regions)
                            {
                                <li>
                                    <h4> @r.RegionName</h4>

                                </li>


                            }
                        </ol>

                    </td>

                    <td>
                        <ol type="A">
                            @foreach (var r in item.Regions)
                            {
                                <li>
                                    <h4>@r.RegionName</h4>
                                    <ol type="i">
                                        @foreach (var t in r.Territories)
                                        {
                                            <li>@t.TerritoryName</li>
                                        }
                                    </ol>
                                </li>


                            }
                        </ol>
                    </td>


                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Division Name</th>
                <th>Regions</th>
                <th>Teritory</th>
            </tr>
        </tfoot>
    </table>
</section>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script>

        $('#table_division_list').DataTable({
            "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
            "order": [[1, "desc"]]
        });

</script>