
@model NblClassLibrary.Models.SummaryModel
@{
    ViewBag.Title = "Orders Summary";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";

}

<section class="content">

    @Html.Partial("_ViewOrderSummaryPartialPage", Model)
</section>

