@model NblClassLibrary.Models.ViewModels.ViewSalesSummaryModel
@{
    ViewBag.Title = "Sales Summary";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="text-center text-green headingStyle">
        Sales Summary
    </h3>
    @using (Html.BeginForm(null,null,FormMethod.Post,new {id="salesSummaryForm"}))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model=>model.BranchId,new {@class="control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => Model.BranchId,null, "--Select--", new { @class = "form-control"})
                </div>
            </div>
        </div>
    }
    <div id="branch_wish_sales"></div>
</section>

@section Scripts
{
    <script>
        $('#BranchId').change(function () {
            var branchId = $(this).val();
            if (branchId > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetOrdersByBranchId", "Common",new {area="" })',
                    data: { branchId: branchId },
                    datatype: "json",
                    success: function(response) {
                        $('#branch_wish_sales').html(response);
                    }
                });
            } else {
                $('#branch_wish_sales').html(null);
            }
           
          
        });
    </script>

}
