@model IEnumerable<NblClassLibrary.Models.Department>
@{
    ViewBag.Title = "Department List";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <div class="text-center">

        @Html.ActionLink("Add New Department", "AddNewDepartment", "Department", new { area = "Editor" }, new { @class = "btn btn-info" })
    </div>
    <table id="table_Department_list" class="table table-bordered" style="border:1px solid black">
        <caption class="text-center text-green " style="font-weight:bold;">Department List</caption>

        <thead>
            <tr>
                 <th>Department Code</th>
                <th>Department Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.DepartmentCode</td>
                    <td>@item.DepartmentName</td>
                    
                    <td class="text-center">
                        @Html.ActionLink(" Edit", "Edit", new { id = item.DepartmentId }, new { @class = "fa fa-edit" })
                       
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Department Code</th>
                <th>Department Name</th>
              
                <th class="text-center">Action</th>
            </tr>
        </tfoot>
    </table>
</section>
@section Scripts
{
    <script>

        $('#table_Department_list').DataTable({
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
        });

    </script>

}
