@using NBL.Areas.Accounts.Models
@model IEnumerable<Voucher>
@{
    ViewBag.Title = "Debit Voucher";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="text-green text-center headingStyle">Debit Voucher</h3>
    <h3 class="text-green"><label>Total  Debit : @Model.Sum(n => n.Amounts) (&#2547;)</label></h3>
    @Html.Partial("_VoucherPartialPage", Model)

</section>
