@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">

    <h2 class="text-danger text-center">An error occurred while processing your request.</h2>

    @Model.Exception

</section>