  <table id="table_production_note_list" class="display responsive table-bordered" style="border: 1px solid; width: 100%">
    <caption class="text-center text-green headingStyle">Pending Production Notes</caption>
    <thead>
          
    <tr>
        <th>
            Production Note no
        </th>
        <th>
            Production Note Ref
        </th>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
        <th>
            Production Note no
        </th>
        <th>
            Production Note Ref
        </th>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Date
        </th>
    </tr>
    </tfoot>
</table>
