@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-color: transparent; border: 1px solid white; padding-top: 5px;margin-top: 5px">
    Digital dominance has made it necessary for more people to rely on the internet to look for the business. The internet is always available and can showcase our business all day long. This enables our business management process dynamic at any time of the day and from any location. As, all our business process will be done through online on a 24 hour basis, our reasonable employees can conveniently do their job whenever they need to. This is a key advantage over offline business management process where we have to wait until business hours.
</div>
